body {
    /*background-image: url("https://cdn.luogu.com.cn/upload/image_hosting/7ql9nxar.png");*/
    background-color: #EEEEEE;
    background-attachment: fixed;
    background-size: cover;
}
#content {
    padding: 1em 0em;
    left: 20%;
    top: 7%;
    background-color: #FFFFFF90;
    height: calc(93% - 2em);
    width: 60%;
    position: absolute;
    border-style: none solid;
    border-width: 0.2em;
    border-color: #EEEEEE;
}
#top {
    z-index: 2;
    top: 0%;
    left: 0%;
    position: fixed;
    background-color: #FFFFFF;
    height: 7%;
    width: 100%;
    border-style: none none solid none;
    border-width: 0.2em;
    border-color: #EEEEEE;
}
#logo {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 21%;
    height: 100%;
    width: 100%;
}
#text {
    margin: auto;
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 70%;
    height: 100%;
    width: 100%;
}
a {
    color: #555555;
    text-decoration: none;
    font-size: 1.5em;
}
a:not(:last-child) {
    margin-right: 4%;
}
#logo-text {
    color: #42BDFF;
}
h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 3em;
}
#frame1 {
    background-color: #FFFFFF50;
    border: 0.2em solid #EEEEEE;
    border-radius: 0.5em;
    height: 15em;
    width: 35%;
    position: absolute;
    left: 10%;
    top: 15%;
}
p {
    text-align: center;
    font-size: 2em;
}