body {
    background-image: url("https://cdn.luogu.com.cn/upload/image_hosting/7ql9nxar.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}
#background {
    padding: 1em 1em;
    font-size: 120%;
    left: 20%;
    top: 7%;
    background-color: #FFFFFF90;
    height: calc(93% - 2em);
    width: calc(60% - 2em);
    position: fixed;
    border-style: none solid;
    border-width: 0.2em;
    border-color: #EEEEEE;
}
#content {
    overflow: hidden;
    padding: 1em 1em;
    font-size: 120%;
    left: 20%;
    top: 7%;
    background-color: #FFFFFF00;
    height: calc(93% - 2em);
    width: calc(60% - 2em);
    position: sticky;
    border-style: none solid;
    border-width: 0.2em;
    border-color: #FFFFFF00;
}
#lv-container {
    top: 100%;
    width: 55%;
    left: 22.5%;
    position: absolute;
}
@font-face {
    font-family: font_1;
    src: url("JetBrainsMono-SemiBold.ttf")；
}
pre {
    font-family: font_1 !important;
    box-shadow: 0 !important;
}
code {
    text-shadow: 0 0 BLACK !important;
}
.toolbar-item button {
    background: #00000000 !important;
    box-shadow: 0 0 0 0 #00000000 !important;
}
#top {
    z-index: 2;
    top: 0%;
    left: 0%;
    position: fixed;
    background-color: #FFFFFF;
    height: 7%;
    width: 100%;
    border-style: none none solid none;
    border-width: 0.2em;
    border-color: #EEEEEE;
}
#logo {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 21%;
    height: 100%;
    width: 100%;
}
#text {
    margin: auto;
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 70%;
    height: 100%;
    width: 100%;
}
a {
    color: #555555;
    text-decoration: none;
    font-size: 1.5em;
}
a:not(:last-child) {
    margin-right: 4%;
}
#logo-text {
    color: #42BDFF;
}