@font-face {
  font-family: CodeFont;
  src: url("/font/JetBrainsMono-Light.ttf");
}

pre.prettyprint {
  font-family: "CodeFont",Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

code {
  border-radius: 10px;
  padding: 1.5em !important;
  /*box-shadow: 10px 5px 5px black;*/
  font-family: "CodeFont" !important;
}